.button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px; /* 버튼 컨테이너의 padding 추가 */
}

.button-container a {
    display: inline-block;
    padding: 15px 50px; /* 버튼의 padding 크기 조정 */
    text-align: center;
    background-color: #b5cbda;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
    width: 22%;
    height: 300px;
    font-size: 24px;
}

.button-container a:hover {
    background-color: #2980b9;
}

.title-container {
    text-align: center;
    margin-bottom: 40px; /* 제목 컨테이너의 밑 여백 크기 조정 */
}

.title-container h1 {
    color: #333333;
    font-size: 36px; /* 제목 폰트 크기 조정 */
}
