.btn {
    background-color: #dc3545; /* 빨간색 */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c82333; /* 진한 빨간색 */
}