.qna-detail-container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  .qna-detail-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .qna-detail-content {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .qna-detail-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .qna-detail-button:hover {
    background-color: #0056b3;
  }
  